{% extends "core/base.html" %}

{% block title %}All Events{% endblock %}

{% block content %}

<h1>All Events</h1>

<a href="{% url 'event_create' %}" class="btn btn-success">
    + Create Event
</a>

<br><br>

<div class="grid">

{% for event in events %}

<div class="card">

    {% if event.image %}
        <img src="{{ event.image.url }}" alt="{{ event.title }}">
    {% endif %}

    <h2>{{ event.title }}</h2>

    <p>{{ event.description|truncatewords:15 }}</p>

    <p><strong>Date:</strong> {{ event.event_date }}</p>

    <p><strong>Price:</strong> Rs. {{ event.price }}</p>

    <br>

    <a href="{% url 'event_detail' event.pk %}" class="btn">
        Details
    </a>

    <a href="{% url 'event_update' event.pk %}" class="btn">
        Edit
    </a>

    <a href="{% url 'event_delete' event.pk %}" class="btn btn-danger">
        Delete
    </a>

</div>

{% empty %}

<p>No events found.</p>

{% endfor %}

</div>

{% endblock %}